@*
    ViewData["Title"] = "Login";
*@

<style>
    .bg-primary {
        background-color: #1a52c6;
    }
</style>

<script type="text/javascript">
    function FormAjax() {
        $.ajax({
            type: "POST",
            dataType: "text",
            url: "/Login/userLogin",
            data: { "userName": $("#email").val(), "userPassword": $("#lastname").val(), "userRole": 1 },
            success: function (data) {
                alert(data.message);
            },
            error: function (xhr, ts, et) {
                alert("Error");
            }
        })
    };
</script>

<div class="bg-light col-xs-6 col-lg-6 col-md-6 col-sm-6 col-center-block offset-3">

    <form method="post" action=" ">
        <fieldset>
            <legend align="center" class="text-primary">Login</legend>

            <div class="form-group">
                <label> Email address: </label>
                <input id="email" class="form-control" type="email" name="Email" placeholder="Enter your email" />
            </div>

            <div class="form-group">
                <label> Password: </label>
                <input id ="lastname" class="form-control" type="password" name="Last Name" placeholder="Enter Your Password" />
            </div>


            <button id="login" onClick="FormAjax();"type="submit" class="btn btn-success"> Login </button>

        </fieldset>
    </form>
    <p>
        <br>
        No Account yet? <a class="text-primary" asp-area="" asp-controller="Login" asp-action="Signup">Sign up here</a>
    </p>
</div>
