@{
    ViewData["Title"] = "Login";

}
 
    <style>
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgZRo9ftId6TgUwSxWfEfXvTLVEtSqj7Y&sensor=false"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/Signup.js"></script>

<div>
    <h1 class="text-primary col-xs-6 col-lg-6 col-md-6 col-sm-6 offset-3"> Choose Account Type </h1>

    <div class="row">
        <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 offset-1" style="position:relative;">
            <img class="img-responsive" src="~/lib/content/doctor.jpg" alt="doctors" style="width:100%; height:100%">
            <input class="btn btn-success" type="button" value="Doctor" style="width:50%; left:25%; bottom:-1%; position: absolute;">
        </div>
        <div class="col-lg-3 col-mid-3 col-sm-3 col-xs-3" style="position:relative;">
            <img class="img-responsive" src="~/lib/content/user.png" alt="users" style="width:100%; height:100%">
            <input class="btn btn-primary" type="button" value="User" style="width:50%; left:25%; bottom:-1%; position: absolute;">
        </div>
        <div class="col-lg-3 col-mid-3 col-sm-3 col-xs-3 " style="position:relative;">
            <img class="img-responsive" src="~/lib/content/guard.png" alt="users" style="width:100%; height:100%">
            <input class="btn btn-warning" type="button" value="Guard" style="width:50%; left:25%; bottom:-1%; position: absolute;">
        </div>

    </div>
</div>
<br>
<h5 class="first text-primary col-xs-7 col-lg-7 col-md-7 col-sm-7 offset-3">
    Hello Doctor, Please fill in the form below to start register.
</h5>

<div class="doctor bg-light col-xs-6 col-lg-6 col-md-6 col-sm-6 col-center-block">

    <form>
        <fieldset>
            <legend align="center" class="text-primary">Sign up for Doctor</legend>

            <div class="form-group">
                <label> Full Name: </label>
                <input class="form-control" id="dname" type="text" name="Full Name" placeholder="Enter Your Full Name" />
            </div>
            <div class="form-group">
                <label> Doctor Certificate No: </label>
                <input class="form-control" type="text" name="Last Name" placeholder="Enter Your certificate" />
            </div>
            <div class="form-group">
                <label>Email address: </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label> Password: </label>
                <input class="form-control" type="password" id="password1" name="password" placeholder="Enter Your Password" />
            </div>
            <div class="form-group">
                <label> Confirm Password: </label>
                <input class="form-control" type="password" id="conpassword1" placeholder="Confirm your password" />
            </div>

            <input id="doctor" onClick="DoctorAjax();" type="button" name="Submit Register Form" value="Submit Register Form" class="btn btn-success">
        </fieldset>
    </form>
</div>

<div class="guard bg-light col-xs-6 col-lg-6 col-md-6 col-sm-6 col-center-block" style="display: none;">

    <form>
        <fieldset>
            <legend align="center" class="text-primary">Sign up for Guard</legend>

            <div class="form-group">
                <label> Facility Name: </label>
                <input class="form-control" id="gname" type="text" name="Full Name" placeholder="Enter Facility Name(school,hospital for example)" />
            </div>

            <div class="form-group">
                <label> Building Address: </label>
                <input class="form-control" id ="Address" type="text" name="Building" placeholder="Enter the building Address that you in charge of " />
            </div>
            <div class="form-group">
                <label>Email address: </label>
                <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label> Password: </label>
                <input class="form-control" type="password" id="password2" name="password2" placeholder="Enter Your Password" />
            </div>
            <div class="form-group">
                <label> Confirm Password: </label>
                <input class="form-control" type="password" id="conpassword2" placeholder="Confirm your password" />
            </div>

            <input id="guard" onClick="GuardAjax();" type="button" name="Submit Register Form" value="Submit Register Form" class="btn btn-success">
        </fieldset>
    </form>
</div>

<div class="user bg-light col-xs-6 col-lg-6 col-md-6 col-sm-6 col-center-block" style="display: none;">

    <form>
        <fieldset>
            <legend align="center" class="text-primary">Sign up for User</legend>

            <div class="form-group">
                <label> Full Name: </label>
                <input class="form-control" id="uname" type="text" name="Full Name" placeholder="Enter Your Full Name" />
            </div>
            <div class="form-group">
                <label> Age: </label>
                <input class="form-control" type="text" id="age" placeholder="Input your present age" />
            </div>
            <div class="form-group form-check">
                <input type="radio" class="form-check-input" name="role" id="radio1">
                <label class="form-check-label" for="exampleCheck1"> Never infected before</label>
                &nbsp; &nbsp; &nbsp;
                <input type="radio" class="form-check-input" name="role" id="radio2">
                <label class="form-check-label" for="exampleCheck1"> Ever infected by COVID-19 before.</label>
            </div>
            <div class="form-group">
                <label> Passport No: </label>
                <input class="form-control" type="text" name="Passport" placeholder="Enter Your Passport No" />
            </div>
            <div class="form-group">
                <label>Email address: </label>
                <input type="email" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label> Password: </label>
                <input class="form-control" type="password" id="password3" name="password3" placeholder="Enter Your Password" />
            </div>
            <div class="form-group">
                <label> Confirm Password: </label>
                <input class="form-control" type="password" id="conpassword3" placeholder="Confirm your password" />
            </div>

            <input id="user" onClick="UserAjax();" type="button" name="Submit Register Form" value="Submit Register Form" class="btn btn-success">
        </fieldset>
    </form>
</div>


<p>
    <br>
    Already have Account? <a class="text-primary" asp-area="" asp-controller="Login" asp-action="Login">Log in</a>
</p>