@{
    ViewData["Title"] = "Doctor";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) {
                    c_end = document.cookie.length;
                }
                return unescape(document.cookie.substring(c_start, c_end));
            }
        }
        return "";
    }

    window.onload = function () {
        var userName = getCookie("username");
        $("#getUserName").html(userName);
    }

    $(document).ready(function () {
        $('#searchBtn').click(function () {
            var txt = $('#searchBox').val();
            var userEmail = getCookie("userEmail");
            var userPassword = getCookie("userPassword");
            var userRole = getCookie("userRole");
            if (txt != '') {
                $.ajax({
                    type: "POST",
                    dataType: "text",
                    url: "http://ivmsp.us-east-1.elasticbeanstalk.com/Home/checkVisitorStatus",
                    data: { "userEmail": userEmail, "userPassword": userPassword, "userRole": userRole, "vistorEmail": txt },
                    success: function (data) {
                        $('#result').html(data);
                    }
                });
            }
            else {
                $('#result').html('');
            }
        });
    });







</script>

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="~/doctor.jpg" class="img-radius" alt="Doctor" style="width:50%; height:50%; margin:auto;"> </div>
                                <h6 style="color:black" class="f-w-600">Doctor</h6>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Dr.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th id="getUserName"></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="PatientSearching">
    <p class="SearchingHint">Please input the name of the patient:</p>
    <form class="searching" >
        <input id="searchBox" type="text" placeholder="Search.." name="searchBox">
        <button id="searchBtn" onclick="SearchAjax();" type="submit"><i class="fa fa-search" name ="searchBtn"></i>Search</button>
    </form>
    <div id="result">
        <div>
            <h4 align ="center">Search Result</h4>
            <div class="table-responsive">
                <table class="table table table-bordered">
                    <thead>
                        <tr>
                            <th>Vistor Name</th>
                            <th>Health Status</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



