@page
@model Web.Views.Home.GuardModel
@{
}

<script type="text/javascript">

    window.onload = function () {
        var userem = getCookie("userEmail");
        var username = getCookie("username");
        $("#wel").html("Welcome the Guard User: " + userem);
        $("#thx").html("Dear " + username+ " Thank you for your effort to keep everynody healthy!")

    }

    function FormAjax() {
        var userem = getCookie("userEmail");
        var userpass = getCookie("userPassword");
        var userrol = getCookie("userRole");
        var vem = $("#email").val();

        if ($("#email").val() == "") {
            alert("You leave email empty. Please fill in the blank to search!");
            return;
        }
        $.ajax({
                type: "POST",
                dataType: "text",
                url: "/Home/checkVisitorStatus",
                data: {"userEmail": userem, "userPassword": userpass, "userRole": userrol, "visitorEmail": vem},
                success: function (data) {              
                    alert(data);
                },
                error: function (xhr, ts, et) {
                    alert("Error");
                }
            })
    }

    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) {
                    c_end = document.cookie.length;
                }
                return unescape(document.cookie.substring(c_start, c_end));
            }
        }
        return "";
    }

</script>

<div>
    <h1 id="wel"> </h1>
    <h5 id="thx"> </h5>
    <div class="col-lg-3 col-mid-3 col-sm-3 col-xs-3 " style="position:relative;">
        <img class="img-responsive" src="~/guard.png" alt="users" style="width:100%; height:100%">
    </div>
    <p class="bg-danger lead text-light">
        If a visitor's status shown is in dangerous(which means status number is close to 1.0), please forbid him/her to enter the public place!
    </p>
    <p class="bg-info lead text-light">
        Use the search bar below to search a visitor's health status, input visitor's email and see the results!
    </p>

    <div class="Visitor">
        <form>
            <label class="form-check-label lead" for="exampleCheck1">Please input the email of a visitor: </label>
            <input id="email" type="text" size="35" placeholder="Please input visitor's email here......" name="search">
            <br>
            <input class="btn btn-primary" id="searching" onClick="FormAjax();" type="button" value="Submit">
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <input class="btn btn-success btn-lg" type="button" value="Sign Out" onclick="location.href='@Url.Action("Login", "Login")'" />
</div>