@{
    ViewData["Title"] = "Indoor Visitor Management System";
}

<div class="text-center">
    <h2 class="display-4">Welcome to @ViewData["Title"]</h2>

    <h3>Safe Others, Wear a mask.</h3>

    <div>
          <input class="btn btn-success btn-lg" type="button" value="Login"  onclick="location.href='@Url.Action("Login", "Login")'"/>
  
          <input class="btn btn-info btn-lg"  type="button" value="Sign Up" onclick="location.href='@Url.Action("Signup", "Login")'" />
    </div>

    <img src="~/lib/content/difference.png" alt="some actions">



</div>
