@{
    ViewData["Title"] = "Indoor Visitor Management System";
}

<div class="text-center">
    <h2 class="display-4">Welcome to @ViewData["Title"]</h2>
    
    <h3>Safe Others, Wear a mask.</h3>

    <img src="https://www.fda.gov/files/styles/main_image_1/public/how-you-can-make-a-difference-1600x900.gif?itok=UjeaXLkt" alt ="some actions">


   
</div>
