@{
    ViewData["Title"] = "User";
}
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">

        var userName;
        var userStatus;
        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) {
                        c_end = document.cookie.length;
                    }
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }

        window.onload = function () {
            var userName = getCookie("username");
            $("#getUserName").html(userName);

            var getUserEmail = getCookie("userEmail");
            var getUserPassword = getCookie("userPassword");
            $.ajax({
                type: "POST",
                dataType: "text",
                url: "/Home/checkUserStatus",
                data: { "userEmail": getUserEmail, "userPassword": getUserPassword },
                success: function (data) {
                    var obj = JSON.parse(data);
                    var status = obj[0].UserStatus;
                    var pred = obj[0].Predict;
                    var contact = obj[1].Address;

                    if (pred != "0" || contact != "" || contact ！= null) {
                        alert("You are predicted to infected by COVID-19, please stay at home.")
                    }
                    $('#vistorName').html(userName);
                    if (status == "0") {
                        $('#vistorHealthStatus').html("Healthy");
                    } else if (status == "1") {
                        $('#vistorHealthStatus').html("Infected");
                    }

                }
            });

        }
        function eraseCookie(name) {
        var date = new Date();
        date.setTime(date.getTime() - 10000);
        document.cookie = name + "=v; expire=" + date.toGMTString() + "; path=/";
        }

       function signOut() {
        eraseCookie("userEmail");
        eraseCookie("userPassword");
        eraseCookie("username");
        window.location.href = '@Url.Action("Login", "Login")';
       }


    </script>

    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25"> <img src="~/lib/content/user.png" class="img-radius" alt="User" style="width:50%; height:50%; margin:auto;"> </div>
                                    <h6 style="color:black" class="f-w-600">Normal User</h6>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card-block">
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                    <div class="row">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>User Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th id="getUserName"></th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="result">
            <div>
                <h4 align="center">User Information</h4>
                <div class="table-responsive">
                    <table class="table table table-bordered">
                        <thead>
                            <tr>
                                <th>Vistor Name</th>
                                <th>Health Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="vistorName"></td>
                                <td id="vistorHealthStatus"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div>
        <input class="btn btn-success btn-lg" type="button" value="Sign Out" onclick="signOut()" />
    </div>